{{#each features}}
    <h2 id="{{dashify location}}"
        data-toggle="collapse"
        data-target="#scenarios-{{dashify location}}"
        >Feature: {{ name }} {{result status}}</h2>

    <p>
        {{#each tags}}
            <span class="label label-info">{{ this }}</span>
        {{/each}}
        {{#testWasSkipped}}
            <span class="label label-default">skipped</span>
            {{#if skip_reason}}
                <p class="alert alert-danger" style="white-space: pre-line">{{ skip_reason }}</p>
            {{/if}}
        {{else}}
            <div class="collapse {{#featureFailed}}in{{/featureFailed}}" id="scenarios-{{dashify location}}">
                {{#if payloads.length}}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Method</th>
                                <th>URL</th>
                                <th>Status code</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each payloads}}
                                <tr>
                                    <td>{{ method }}</td>
                                    <td>
                                        <a
                                            href="data:text/plain;base64,{{ base64 response }}"
                                            target="_blank">
                                            {{ url }}
                                        </a>
                                    </td>
                                    <td>{{ status_code }}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/if}}
                {{#each elements}}
                    <div id="{{dashify location}}">
                        <h3>Scenario: {{ name }}</h3>
                        <p>
                            {{#each tags}}
                                <span class="label label-info">{{ this }}</span>
                            {{/each}}
                            {{#scenarioWasSkipped}}
                                <span class="label label-default">skipped</span>
                            {{/scenarioWasSkipped}}
                        </p>
                        <div class="steps">
                            {{#each steps}}
                                <span class="{{ result.status }}">{{ keyword }} {{ name }} {{result result.status}}</span>
                                {{#if table}}
                                    <table class="table table-condensed table-bordered">
                                        <tr class="text-capitalize">
                                            {{#each table.headings}}
                                                <th>{{~ this ~}}</th>
                                            {{/each}}
                                        </tr>
                                        {{#each table.rows}}
                                            <tr>
                                                {{#each this}}
                                                    <td>{{~ this ~}}</td>
                                                {{/each}}
                                            </tr>
                                        {{/each}}
                                    </table>
                                {{/if}}
                                {{#if result.error_message}}
                                    <!--
                                    <blockquote><small>
                                        {{~#each (lines result.error_message 10) ~}}
                                            {{~ this ~}}<br>
                                        {{~/each~}}
                                    </small></blockquote>
                                    -->
                                    <br>
                                    <a
                                        href="data:text/plain;base64,{{ base64 result.error_message }}"
                                        target="_blank">
                                        See failure details <span class="glyphicon glyphicon-new-window"></span>
                                    </a>
                                    <br>
                                {{else}}
                                    <br>
                                {{/if}}
                            {{/each}}
                        </div>
                        {{#if skip_reason}}
                            <blockquote><small>
                                {{~#each (lines skip_reason) ~}}
                                    {{~ this ~}}<br>
                                {{~/each~}}
                            </small></blockquote>
                        {{/if}}
                        {{#if codes}}
                            <h3>Found systems:</h3>
                            <ul>
                                {{#each codes as |code index|}}
                                    <li>{{ code }}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        {{/testWasSkipped}}
    </p>
{{/each}}
