{{#each features}}
    <h2>Feature: {{ name }} {{result status}}</h2>
    {{#testWasSkipped}}
        <p>Skipped</p>
    {{else}}
        {{#each elements}}
            <div id="{{dashify location}}">
                <h3>Scenario: {{ name }}</h3>
                <div class="steps">
                {{#each steps}}
                    <span class="{{ result.status }}">{{ keyword }} {{ name }} {{result result.status}}</span>
                    {{#if result.error_message}}
                        <blockquote><small>
                        {{~#each (lines result.error_message) ~}}
                            {{~ this ~}}<br>
                        {{~/each~}}
                        </small></blockquote>
                    {{else}}
                        <br>
                    {{/if}}
                {{/each}}
                </div>
            </div>
        {{/each}}
    {{/testWasSkipped}}
{{/each}}
