<h1>
    Tests Complete!
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#report-modal">Show report</button>
</h1>
<hr>

<div class="modal fade" id="report-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tests complete!</h4>
            </div>

            <div class="modal-body">
                <p>
                    {{ report.features.passed.length }} features passed,
                    {{ report.features.failed.length }} failed,
                    {{ report.features.skipped.length }} skipped
                </p>
                <p>
                    {{ report.scenarios.passed.length }} scenarios passed,
                    {{ report.scenarios.failed.length }} failed,
                    {{ report.scenarios.skipped.length }} skipped
                </p>
                <p>
                    {{ report.steps.passed.length }} steps passed,
                    {{ report.steps.failed.length }} failed,
                    {{ report.steps.skipped.length }} skipped
                </p>
                <h4>Coding systems</h4>
                <ul>
                    {{#each systems}}
                        <li>
                            {{#if system}}
                                {{ system }}
                            {{else}}
                                <span class="text-muted">system not specified</span>
                            {{/if}}
                            - count {{ count }}
                            {{~#if recognized~}}
                                , valid {{ valid }}.
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>
            </div>

            <div class="modal-footer">
                You can restore this report by clicking the "show report" button.
            </div>
        </div>
    </div>
</div>
