{{#each summary}}
    <h4><a href="#{{dashify location}}">{{name}}</a></h4>
    {{~#each scenarios~}}
    <a data-toggle="tooltip"
        data-container="body"
        data-target="#scenarios-{{dashify ../location}}"
        title="{{name}}"
        class="scenario-summary {{status}}"
        href="#{{dashify location}}"></a>
    {{~/each~}}
{{/each}}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Pro tip!</strong> Use keyboard <code>n</code> (next) and <code>p</code> (prev) to cycle through failure reports.
</div>
